*.o
*.pc
*.la
*.lo
*.swp
*~
*.sig
*.tar.*
*.announce
*.patch
*.rej
*.trs
*.gcda
*.gcno
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.libs/
.deps/
src/libinput-version.h
doc/libinput.doxygen
doc/html
tags
test/test-*
!test/test-*.c
test/libinput-test-suite-runner*
test/symbols-leak-test*
test-driver
